<div class="vh-100 p-5">
  <div class="h-25">
    <app-search-form [form]="form"></app-search-form>
    
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary btn-sm" (click)="searchInMovies()"
              [disabled]="form.invalid || form.pristine">
        Search
      </button>
    </div>
  </div>

  <div class="h-75 d-flex gap-4 flex-wrap justify-content-center">

    @for (movie of this.movies(); track movie.episode_id) {

      <div class="card w-25 mh-75 overflow-hidden border-4" style="height: 250px;"
           [class.border-success]="this.searchData().includes(movie.url)">
        <div class="card-body border-3 border-primary">
          <h3 class="card-title">{{ movie.title }}</h3>
          <p class="card-subtitle mb-2 text-muted">Episode: {{ movie.episode_id }}</p>
          <p class="card-subtitle mb-2 text-muted">Release Date: {{ movie.release_date | date:'yyyy-MM-dd' }}</p>
          <p class="card-subtitle mb-2 text-muted">Producer: {{ movie.producer }}</p>
          <p class="card-subtitle mb-2 text-muted">Director: {{ movie.director }}</p>
        </div>
      </div>

    }

  </div>
</div>
